<asp:Content ID="Title" ContentPlaceHolderID="TitleContent" runat="server">
    FizzBuzz
</asp:Content>
 
<asp:Content ID="Index" ContentPlaceHolderID="MainContent" runat="server">
  
@model FizzBuzz.Models.IndexModels

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>IndexModels</legend>

        <div class="editor-label">
            @Html.Label("Input")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Input) Required
            @Html.ValidationMessageFor(model => model.Input,"Please enter a Number")
        </div>

        <div class="editor-label">
            @Html.Label("Output")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Output, new { @readonly = true, @placeholder="Result" })
            @Html.ValidationMessageFor(model => model.Output)
        </div>
                
        <div class="editor-label">
            @Html.Label("Tweet")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.TweetMessage,new { @readonly = true})
            @Html.ValidationMessageFor(model => model.TweetMessage)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
 
</asp:Content>

<!-- Skript for Textbox Input with Numbers-->
<!-- 95-107 : 0-9 Number-Block-->
<!-- 47-58 : 0-9 -->
<!-- 8 : Backspace -->
<!-- 13 : Enter -->
<script type="text/javascript">
    function ValidateNumber(e) {
        var evt = (e) ? e : window.event;
        var charCode = (evt.keyCode) ? evt.keyCode : evt.which;
        if ((charCode > 95 && charCode < 107) || (charCode > 47 && charCode < 58) || charCode == 8 || charCode == 13) {
            return true;
        }
        return false;
    };
</script>